data/
sampled_data/
.DS_Store
previous_old_experiments/INTRO_compare_review_be4_after/data/*
previous_old_experiments/old_prepare_submitted
.env
__pycache__/
exp_data_*
*.csv
reviews_test/*
experiments/INTRO_compare_review_be4_after/output/*
experiments/PLACEBO_planted_unauthorized_factor/data/*
experiments/sampled_data_miss1/
experiments/exp_rewrite_data/
experiments/category_sampled_data_old_planted/
experiments/category_sampled_data*
experiments/reviews_by_category_test/
experiments/review_2a